*{
    margin: 0%;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}

body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/025/803/201/non_2x/dungeon-cartoon-composition-vector.jpg");
    color:white;
}

p{
    margin-bottom: 1%;
}

#half-image{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

#half-image img{
    width: 50%;
    height: 500px;
}

#half-image div{
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: center;
    flex-direction: column;
}

.sectionDefault{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    padding:1em;

}

.sectionDefaultDiv{
    width:80%;

    
}

#lista{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

}

.sectionDefault ol{
  
    margin-left: 8%;
    margin-right: 8%;
} 

.sectionDefault img{
    width: 50%;
    height: auto;
}


.sectionDefault li{
   margin-bottom:2em;
}


.title{
    margin-bottom: 1em;
   
}

/* boton */
button a{
    color:black;
    font-size: 2em;
}
button {
    outline: none;
    color: black;
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 2px dashed lightcoral;
    border-radius: 15px;
    background-color: rgb(247, 187, 187);
    box-shadow: 0 0 0 4px rgb(247, 187, 187), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    cursor: pointer;
  }
  
button:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px rgb(247, 187, 187), 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
  }

  
form{
    align-items: left;
    display:flex;
    flex-direction: column;
    text-align: left;
  }

  .input-wrapper input, .input-wrapper textarea {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
   height: 3em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin-bottom:1em;
  }

  .input-wrapper textarea{
    height: 8em;
  }
  
  .input-wrapper input:focus, .input-wrapper textarea:focus {
    outline-color: lightcoral;
  }

  /* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  } */
  
  .custom-radio {
    display: flex;
    flex-direction: column;
    width: 15em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom:1em;
  }
  
  .custom-radio input[type="radio"] {
    display: none;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .radio-circle {
    width: 20px;
    height: 20px;
    border: 2px solid lightcoral;
    border-radius: 50%;
    margin-right: 10px;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .radio-text {
    font-size: 1rem;
    color: #333;
    transition: color 0.3s ease-in-out;
  }
  
  .custom-radio input[type="radio"]: + .radio-label {
    background-color: lightcoral;
  }
  
  .custom-radio input[type="radio"]:checked + .radio-label .radio-circle {
    border-color: #fff;
    background-color: lightcoral;
  }
  
  .custom-radio input[type="radio"]:checked + .radio-label .radio-text {
    color: #64748b;
  }
  
  /*checkbox*/

  .checkbox-wrapper-37 input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-wrapper-37 .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom:1em;
  }
  
  .checkbox-wrapper-37 .terms-label .label-text {
    margin-left: 10px;
  }
  
  .checkbox-wrapper-37 .checkbox-svg {
    width: 30px;
    height: 30px;
  }
  
  .checkbox-wrapper-37 .checkbox-box {
    fill: #fff;
    stroke:  lightcoral;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
  }
  
  .checkbox-wrapper-37 .checkbox-tick {
    stroke: lightcoral;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
  }
  
  .checkbox-wrapper-37
    input[type="checkbox"]:checked
    + .terms-label
    .checkbox-box,
  .checkbox-wrapper-37
    input[type="checkbox"]:checked
    + .terms-label
    .checkbox-tick {
    stroke-dashoffset: 0;
  }
  